body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  color: #333;
  overflow-x: hidden;
}
header {
  background-color: #3572EF;
  color: white;
  padding: 20px;
  text-align: center;
}
footer {
  background-color: #3572EF;
  color: white;
  padding: 10px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}
main {
  padding: 20px;
  padding-bottom: 20px; 
}
.description {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.description p {
  margin: 0;
  line-height: 1.6;
  color: #555;
}
.grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 5px;
  box-sizing: border-box;
}
.tileDTU {
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: block;
  padding: 20px;
  text-align: center;
  color: #333;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
}
.tileDTU:hover {
  background-color: #3572EF;
  color: white;
  border-color: #3572EF;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.tileDTU h2 {
  font-size: 1.2rem;
  margin-bottom: 5px;
}
.tileDTU span {
  font-size: 0.9rem;
  color: #666;
}
.tileDTU:hover span {
  color: #fff;
}
.building-icon {
  margin-top: 10px;
  width: 30px;
  height: 30px;
}
